/* h1{
    font-size: 40px;
    text-align: center; 
    background: #d9f2ff;
    padding: 0.5em;
    margin: 0;
    color: deepgrey;
} */

/* Style the navbar */
.navbar-brand {

}

h2{
  text-align: center;
  margin: 1.5em;
}

p{
  text-align: center;
  font-size: 1em;
  margin: 0.5em;
}

section{
    padding-top: 2em;
    padding-bottom: 31px;
    background: papayawhip;
    text-align: center;
    margin: 0;
}

/* Style the header */
.header {
    grid-area: header;
    text-align: center;
    font-size: 20px;
    height: 100px;

  }
  
  .header2 {
    grid-area: header2;
    text-align: center;
    font-size: 15px;
    height: 100px;
  }

  /* The grid container */
  .grid-container {
    display: grid;
    grid-template-areas: 
      'header header header header header2 header2' 
      'left left right right right right' 
      'middle middle right right right right' 
      'footer footer footer footer footer footer';
  } 
  
  .left,
  .middle{
    height: 230px;
    width: 650px;
    background-color: #f1f1f1;
    margin-left: 50px;
  }
  
  /* Style the left column */
  .left {
    grid-area: left;
    margin-bottom: 10px;
  }
  
  /* Style the middle column */
  .middle {
    grid-area: middle;
  }
  
  /* Style the right column */
  .right {
    grid-area: right;
    height: 460px;
    width: 500px;
    background-color: #f1f1f1;
  }
  
  /* Style the footer */
  .footer {
    grid-area: footer;
    background-color: rgb(232, 239, 248);
    text-align: center;
    margin-top: 10px;
  }

input{
    padding: 0.6em;
    text-align: left-aligned;
    font-size: 1em;
    margin: 0.25em;
    border: 1px solid;
    border-radius: 3px;
}

select{
    padding: 0.6em;
    text-align: left-aligned;
    font-size: 1em;
    margin: 0.25em;
    border: 1px solid;
    border-radius: 3px;
}

ul{
  text-align: left;
  font-size: 1em;
  margin: 0.5em;
}

form{
  text-align: center;
}

.button{
    background: white;
    color: palevioletred;
    font-size: 1.1em;
    margin: 1.5em;
    padding: 0.5em 1.25em;
    border: 2px solid palevioletred;
    border-radius: 3px;
    text-decoration: none;
}

.button:hover{
    background: rgb(212, 210, 210);
    color:rgb(82, 172, 245);
    font-size: 1.1em;
    margin: 1.5em;
    padding: 0.5em 1.25em;
    border: 2px solid rgb(82, 172, 245);
    border-radius: 3px;
    text-decoration: none;
}

.submit{
    background: white;
    color: palevioletred;
    font-size: 1em;
    margin: 0.5em;
    padding: 0.5em 1.25em;
    border: 2px solid palevioletred;
    border-radius: 3px;
    text-decoration: none;
}

.button.submit:hover{
  background: rgb(212, 210, 210);
  color:rgb(82, 172, 245);
  font-size: 1em;
  margin: 0.5em;
  padding: 0.5em 1.25em;
  border: 2px solid rgb(82, 172, 245);
  border-radius: 3px;
  text-decoration: none;
}