h1{
    font-size: 2.75em;
    text-align: center; 
    background: #d9f2ff;
    padding: 0.5em;
    margin: 0;
    color: deepgrey;
}

h3{
    font-size: 2.5em;
    text-align: center; 
    background: #d9f2ff;
    padding: 0.5em;
    margin: 0;
    color: deepgrey;
}

section{
    padding-top: 7em;
    padding-bottom: 2em;
    background: papayawhip;
    text-align: center;
    margin: 0;
}

p{
    text-align: center;
    font-size: 1.1em;
    margin-top: 6em;
}

input{
    padding: 0.6em;
    text-align: left-aligned;
    font-size: 1em;
    margin: 0.25em;
    border: 1px solid;
    border-radius: 3px;
}

.button{
    background: white;
    color: palevioletred;
    font-size: 1.1em;
    margin: 1.5em;
    padding: 0.5em 1.25em;
    border: 2px solid palevioletred;
    border-radius: 3px;
    text-decoration: none;
}

.button:hover{
    background: rgb(212, 210, 210);
    color:rgb(82, 172, 245);
    font-size: 1.1em;
    margin: 1.5em;
    padding: 0.5em 1.25em;
    border: 2px solid rgb(82, 172, 245);
    border-radius: 3px;
    text-decoration: none;
}

.smallMargin{
    margin-top: 2em;
    margin-bottom: 2em;
}

.smallPadding{
    padding-top: 2em;
}

p.profile{
    text-align: left;
    font-size: 1.05em;
    margin: 1em;
}

section.profile{
    padding-top: 2em;
    background-color: white;
}

p.edit{
    text-align: left;
    font-size: 1em;
}